# dependencies
node_modules

# build outputs
.next
out
release

# local and vcs
.git
.gitignore
.vscode

# tests and coverage
coverage

# platform-specific
src-tauri/target

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
